

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp

pids
logs
results
tmp
coverage

# API keys
.env

# Public directory
/ScrumSaga
/

# Dependency directory
.ipynb_checkpoints

# Editors
.idea
*.iml

# OS metadata
.DS_Store
Thumbs.db
